# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Poetry-specific
poetry.lock

# Python virtual environment
.venv/

# Logs
*.log

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
